    <!--Slider Message Right Start -->
     <div class="  orbit-container  " >
        <ul  style="margin:0px;" class="example-orbit" data-orbit data-options="container_class: 'orbit-container';  timer: false; slide_number: false; bullets:false;">
          <li>
           <!--    <img   class="slider" src="../images/{{ assets }}/sliders/{{setSlider}}/slider_movie.jpg" alt="slide 1" />  -->
                 <img   class="slider" src="../images/{{ assets }}/sliders/{{local.setSliderFolder}}/{{local.sliderName}}" alt="slide 1" />

                <div class="orbit-caption show-for-medium-up ">                
                <img    src="../images/{{ assets }}/sliders/va-logo.svg" alt="slide 1" />
               </div>   
          </li>  
        </ul>
     </div>
    <!--Slider Message Right End -->
    