    <div class="menu-item" ui-sref="app.tvs.tv({ id: tv.id })" >
 <div ng-if="assets == '_cor' || assets == '_ram'" class="strip" ></div>
              <div class="menu-image">
                <div class="poster" >
                  <img ng-src="{{tv.contentMeta.tv_poster_300_450}}" />
                </div>
              </div>

              <div class="menu-title" ng-controller="HomeCtrl">
              <h1 ng-class="{arabic:classVar}">{{tv.contentMeta.tv_title }}</h1>
              </div>
    <hr ng-if="assets == '_cor' || assets == '_ram'" class="page-cover__divider" />
    </div>