     <!-- This if statement controls empty selection made -->
     <div class="pages">
         
               <div class="grey">
          
                <div class="content-container"> 

                         <div class="section-title">
                              <h2 >Opps! you forgot to select a class type </h2>   
                         </div>

               <button style="float:right;" class="button button-small button-stable" ui-sref="app.home">home</button><br>

                <h4 style="text-align:center; padding: 50px 0 50px 0;  color:#1c344c" > 
                    In order to view your  content  you must select a 
                    class type on the home page. We put a little button above to help 
                    you navigate back.   </h4>
                 </div>
             </div>
        
         
         </div>