
   <!-- Slider Content-->
  
       <!-- Slider Content end-->

    
   <!-- Main Content-->
<!--   <div class="home" ng-controller="HomeCtrl">        -->
    <!-- The line below is required when using an Iframe -->
     <div style="background:black;" class="home" ng-controller="HomeCtrl"  id="microsite-iframe-wrapper-movies">
         
                
                   <div style="text-align: center !important;">
          <iframe height="1000px" width="80%" scrolling="no" frameborder="0" src="http://ticketmaster.ifdgui.com" seamless="seamless"></iframe>

     </div>
         
         
 
     </div><!--   Grey End
